@import "../../styles/variables.scss";

.container {
  display: flex;
}

.banner {
  display: block;
  background-color: #FEFEFE;
  flex-basis: 50%;
  padding-inline-start: 4.1875rem;
  padding-inline-end: 4.3125rem;
  padding-block-start: 6.625rem;

  @media (max-width: 1024px) {
    display: none;
  }
}

.pic {
  padding-block-start: 8.6875rem;
}

.body {
  height: 100vh;
  width: 100%;
  flex-basis: 50%;
  padding-inline-start: 6.1875rem;
  padding-inline-end: 9.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & h1 {
    color: #213f7d;
  }

  & img {
    display: none;

    @media (max-width: 1024px) {
      display: inline;
    }
  }

  @media (max-width: 1024px) {
    flex-basis: 100%;
  }
}

.form {
  width: 27.9375rem;
}

.loginInput {
  position: relative;
  width: 100%;
  padding-inline: 1rem;
  padding-block-start: 1.0938rem;
  padding-block-end: .7813rem;
  font-size: .875rem;
  border-radius: 5px;
  color: #545F7D;
  border: 1px solid hsla(224°, 20%, 41%, 15%);

  & > input {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
  }
}

.showBtn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: transparent;
  border: none;
  color: $primary;
  text-transform: uppercase;
  margin-inline-end: 1.1025rem;
  font-weight: 600;
}

.gap {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.loginBtn {
  background-color: $primary;
  color: #fff;
  text-transform: uppercase;
  border-radius: 8px;
  padding-block-start: .9375rem;
  padding-block-end: .8125rem;
  width: 100%;
  text-align: center;
}